@model FitnessApp.Models.DAL.klijent_trener

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>klijent_trener</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Klijent.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klijent.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trener.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trener.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpisTreninga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpisTreninga)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
