@model FitnessApp.Models.DAL.Trener

@{
    ViewBag.Title = "Details";
}

<h2>Detalji</h2>

<div>
    <h4>Trener</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Godine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Godine)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmeni", "Edit", new { id = Model.TrenerId }) |
    @Html.ActionLink("Nazad", "Index")
</p>
