@model FitnessApp.Models.DAL.Program_Ishrane

@{
    ViewBag.Title = "Delete";
}

<h2>Obriši</h2>


<div>
    <h4>Program ishrane</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Klijent.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klijent.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CenaPrograma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CenaPrograma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpisPrograma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpisPrograma)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obruši" class="btn btn-default" /> |
            @Html.ActionLink("Nazad", "Index")
        </div>
    }
</div>
